/* Write your code here: */
h1,h2{
  color: blueviolet;
}
.box>.done{
  color:firebrick;
}
/*Descendent selector*/
.box li{
  color:blue;
}
/*Chainig selector*/
li.done{
  color: seagreen;
}

/*Combining Combiners*/
.box li.done{
  color: seagreen;
}